@media screen and (max-width:40rem) {
    .container{
      background-image: url(../images/bg-mobile.svg);
    }
  
    .header img{
      max-width: 18rem;
      
    
    }
  
    .main-imagens{
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  
    .main{
      display: flex;
      flex-direction: column;
    }
  
    .main-informacoes{
      align-items: center;
    }
  
    .main-informacoes h1{
      font-size: 2.4rem;
      line-height: 3.6rem;
      margin-bottom: 1.6rem;
      text-align: center;
    }
  
    .main-informacoes p{
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-align: center;
    }
  
    .btn{
      font-size: 1.2rem;
      line-height: 1.8rem;
      padding: 1rem;
      margin-bottom: 2rem;
    }
  
    .main-info-social{
      margin-bottom: 0;
    }
  
    .main-info-social i{
      max-width: 2.8rem;
    }
    
  }